<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <h4>
        <a href="{% url 'users-page' %}">Users</a> | 
        <a href="{% url 'book_list_page' %}">Books</a> |
        {% if user.is_authenticated %}

            <a href="{% url 'user-detail' user.id %}"> {{user.first_name}} </a> | 
            <a href="{% url 'logout' %}"> log out </a> 

        {% else %}

            <a href="{% url 'login-page' %}">login </a> | 
            <a href="{% url 'register-page' %}"> register</a> 

        {% endif %}
       
    </h4>
</body>
</html>